<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th>Author</th>
      <th>Body</th>
      <th>Pay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @starters.each do |starter| %>
      <tr>
        <td><%= starter.headline %></td>
        <td><%= starter.author %></td>
        <td><%= starter.body %></td>
        <td><%= starter.pay %></td>
        <td><%= link_to 'Show', starter %></td>
        <td><%= link_to 'Edit', edit_starter_path(starter) %></td>
        <td><%= link_to 'Destroy', starter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Starter', new_starter_path %> <br> <br> 

<%= link_to "Home", root_path %>
